:root {
    --color-yellow: #fbd874;
    --color-dark-yellow: #f7c848;
    --color-gray: #919191;
    --color-dark-gray: #3d3d3d;
    --color-orange: #f05f5f;
    --color-dark-orange: #e05a5a;
    --color-white: #ffffff;
}
